.section {
  background-color: #8b8b8b;
}
.container {
  position: relative;
  margin: 0 20px;
  height: 100%;
}
#awesomeService {
  text-align: center;
}
#text1 {
  text-align: center;
  font-size: 20px;
  color: red;
}
.paragraph {
  width: 100%;
  display: inline-block;
}
hr {
  display: flex;
  width: 10%;
  color: #000000;
  align-items: center;
  height: 35px;
}
#line1 {
  width: 20%;
  top: 117px;
  left: 174   px;
}
.test_line {
  width: 100%;
  padding: 10px 0px;
}
.line-container {
  border-top: 5px solid #1a9c45;
  border-right: 5px solid #1a9c45;
  border-bottom: 5px solid #1a9c45;
  border-left: 0px !important;
}
.group1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#group1 {
  width: 300px;
  height: 220px;
  top: 0px;
  left: 327px;
  background-color: rgba(255, 255, 255, 0.91);
  border-color: #e3120b;
  border-width: 1px;
  border-radius: 8px;
}
#icon448 {
  width: 30px;
  height: 30px;
  top: 10.5px;
  left: 9.5px;
}
#box-icon1 {
  width: 30px;
  height: 30px;
  top: 10.5px;
  left: 9.5px;
}
.test-icon {
  width: 100%;
  height: 100%;
}
#tilte1 {
  color: #073a91;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
}
.test-title {
  width: 100%;
  display: inline-block;
}
#test2 {
  color: #353535;
  font-size: 13px;
  text-align: left;
  line-height: 1.6;
}
#BOX2 {
  width: 51px;
  height: 51px;
  top: 0px;
  left: 0px;
}
#GROUP3 {
  width: 51px;
  height: 51px;
  top: 24px;
  left: 0px;
}
